asdf==3.0.1
asdf-standard==1.0.3
asdf-transform-schemas==0.4.0
asdf-unit-schemas==0.1.0
astropy==6.0.0
astropy-iers-data==0.2024.2.19.0.28.47
astroquery==0.4.6
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cloudpickle==3.0.0
cryptography==42.0.5
gym==0.26.2
gym-notices==0.0.8
html5lib==1.1
idna==3.6
importlib-metadata==7.0.1
jaraco.classes==3.3.1
jeepney==0.8.0
jmespath==1.0.1
keyring==24.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.2.0
numpy==1.26.4
pandas==2.2.1
pycparser==2.21
pyerfa==2.0.1.1
pytz==2024.1
pyvo==1.5.1
PyYAML==6.0.1
rebound==4.3.2
requests==2.31.0
rich==13.7.0
SecretStorage==3.3.3
semantic-version==2.10.0
soupsieve==2.5
spiceypy==6.0.0
tabulate==0.9.0
tzdata==2024.1
urllib3==2.2.1
webencodings==0.5.1
zipp==3.17.0
